
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
	margin:0 auto;
	position:relative;
	width:950px;
}
#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
}
#main {
	overflow:hidden;
	display:block;
	position: relative;
	z-index: 0;
}
#header {
	width:100%;
	display:block;
	position:relative;
}

/*--------------------------header----------------------------*/
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
#header .logo{
	float: left;
	padding: 52px 0 15px 0;

}
#header .nav{
	float: right;
	padding: 62px 0 74px 0;
}
#header .nav ul{}
#header .nav ul li{
	display: inline-block;
	margin: 0 0 0 25px;
}
#header .nav ul li a{
	font-family: 'Trebuchet MS',sans-serif;
	color: #878787;
	font-size: 20px;
}
#header .nav ul li a:hover {
	color:#0481c2;
}
/*-----------------------main-------------------------------*/
#main{
	display: block;
	overflow: hidden;
}
#main:after{
	content: '';
	display:table;
	clear: both;
}
#sidebar {
	float: left;
	width: 230px;
	border-top: 5px solid #0481c2;
}
#sidebar form {
	padding: 21px 0 0 0;
}
#sidebar form input{
	overflow: hidden;
	padding: 5px 0 0 7px;
}
#sidebar form .search{
	width: 227px; 
    border: 1px solid #000; 
    height: 25px; 
}
input[type="search"] {
    border: none; 
    outline: none;
    -webkit-appearance: none;
    width: 190px; 
    vertical-align: middle;
 }


#sidebar .side_line{
	display: block;
	overflow: hidden;
	/*padding: 26px 0 0 0;*/
}
#sidebar h2{
	display: block;
	overflow: hidden;
	color: #0481c2;
	font-family: sans-serif;
	border-bottom: 1px solid #878787;
	padding: 26px 0 9px 0; 
	font-size: 24px;
}
#sidebar .side_line .color_text1{
	display: block;
	overflow: hidden;
	color: #0481c2;
	font-family: sans-serif;
	padding: 27px 0 0 0;
	font-size: 14px;
}
#sidebar .side_line p{
	display: block;
	overflow: hidden;
	color: #404040;
	font-family: sans-serif;
	padding: 16px 0 0 0;
	font-size: 12px;
}
#sidebar .side_line a{
	display: block;
	overflow: hidden;
	color: #878787;
	font-family: sans-serif;
	padding: 20px 0 27px 0;
	border-bottom: 1px solid #404040;
	font-size: 12px;
}
#sidebar .side_line2{
	display: block;
	overflow: hidden;
}
#sidebar .side_line2 .color_text1{
	display: block;
	overflow: hidden;
	color: #0481c2;
	font-family: sans-serif;
	padding: 27px 0 0 0;
	font-size: 14px;
}
#sidebar .side_line2 p{
	display: block;
	overflow: hidden;
	color: #404040;
	font-family: sans-serif;
	padding: 16px 0 0 0;
	font-size: 12px;
}
#sidebar .side_line2 a{
	display: block;
	overflow: hidden;
	color: #878787;
	font-family: sans-serif;
	padding: 20px 0 27px 0;
	border-bottom: 1px solid #404040;
	font-size: 12px;
}
#sidebar .side_line a:hover,#sidebar .side_line2 a:hover{
	color: #0481c2;
}
#content{
	float: right;
	width: 710px;
	border-top: 5px solid #0481c2;
	padding: 21px 0 0 0;
}
#content .main_img{
	display: block;
	overflow: hidden;
	position: relative;
}
#content .main_img img{
	display: block;
}
#content .slider_info{
	background: rgba( 255, 255, 255, 0.5);
	position: absolute;
	top: 0 ;
	right: 1px;
	width: 204px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#content .slider_info h4{
	padding: 0 16px 0 16px;
	font-family: Arial,sans-serif;
	font-size: 18px;
	color: #ffffff;
}
#content .slider_info p{
	font-family: 'Trebuchet MS',sans-serif;
	font-size: 12px;
	padding: 0 16px 0 16px;
	color: #ffffff;
	margin-top: 21px;
}
#content .detail_info{
	display: block;
	overflow: hidden;
	padding: 38px 0 0 0;
}
#content .detail_info ul{
}
#content .detail_info ul li{
	display: inline-block;
	width: 230px;
	font-family: sans-serif;
	padding: 0 0 27px 0px;
}
#content .detail_info ul li:nth-child(2){
	margin: 0 6px 0 6px;
}
#content .detail_info .uderline{
	text-decoration: underline;
	color: #0481c2;
}
#content .detail_info ul li h4{
	padding: 17px 0 0 0;
	color: #0481c2;
	font-size: 18px;
}
#content .detail_info ul li p{
	padding: 12px 0 0 0;
	color: #3c3c3c;
	font-size: 12px;

}
#content .detail_info .read_more{
	padding: 18px 0 0 0;
	color: #878787;
	display: block;
	font-size: 12px;
}
#content .detail_info .read_more:hover{
	color: #0481c2;
}
/*-----------------footer----------------*/
#footer{
	display: block;
	overflow: hidden;
	padding: 0 0 73px 0;
}

#footer .socia_icon{
	float: left;
	width: 230px;
	border-top: 5px solid #0481c2;
	padding: 8px 0 0 0;
}
#footer .socia_icon a{
	display: inline-block;
}
#footer .socia_icon a img{
	display: block;
}
#footer .Copyright{
	float: right;
	width: 710px;
	border-top: 5px solid #0481c2;
}
#footer .Copyright p{
	float: right;
	padding: 14px 0 0 0;
	font-family: sans-serif;
	color: #404040;
}
